In [123]:
import pandas as pd
df = pd.read_csv("cox-violent-parsed_filt.csv")
df

,id,name,first,last,sex,dob,age,age_cat,race,juv_fel_count,...,vr_charge_desc,type_of_assessment,decile_score.1,score_text,screening_date,v_type_of_assessment,v_decile_score,v_score_text,priors_count.1,event
0,1.0,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,Risk of Recidivism,1,Low,14/08/2013,Risk of Violence,1,Low,0,0
1,2.0,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,Risk of Recidivism,1,Low,14/08/2013,Risk of Violence,1,Low,0,0
2,3.0,michael ryan,michael,ryan,Male,06/02/1985,31,25 - 45,Caucasian,0,...,NaN,Risk of Recidivism,5,Medium,31/12/2014,Risk of Violence,2,Low,0,0
3,4.0,kevon dixon,kevon,dixon,Male,22/01/1982,34,25 - 45,African-American,0,...,Felony Battery (Dom Strang),Risk of Recidivism,3,Low,27/01/2013,Risk of Violence,1,Low,0,1
4,5.0,ed philo,ed,philo,Male,14/05/1991,24,Less than 25,African-American,0,...,NaN,Risk of Recidivism,4,Low,14/04/2013,Risk of Violence,3,Low,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18311,NaN,alexsandra beauchamps,alexsandra,beauchamps,Female,21/12/1984,31,25 - 45,African-American,0,...,NaN,Risk of Recidivism,6,Medium,29/12/2014,Risk of Violence,4,Low,5,0
18312,NaN,winston gregory,winston,gregory,Male,01/10/1958,57,Greater than 45,Other,0,...,NaN,Risk of Recidivism,1,Low,14/01/2014,Risk of Violence,1,Low,0,0
18313,NaN,farrah jean,farrah,jean,Female,17/11/1982,33,25 - 45,African-American,0,...,NaN,Risk of Recidivism,2,Low,09/03/2014,Risk of Violence,2,Low,3,0
18314,NaN,florencia sanmartin,florencia,sanmartin,Female,18/12/1992,23,Less than 25,Hispanic,0,...,NaN,Risk of Recidivism,4,Low,30/06/2014,Risk of Violence,4,Low,2,0
18315,NaN,florencia sanmartin,florencia,sanmartin,Female,18/12/1992,23,Less than 25,Hispanic,0,...,NaN,Risk of Recidivism,4,Low,30/06/2014,Risk of Violence,4,Low,2,0

In [124]:
print(df.columns.tolist())

['id', 'name', 'first', 'last', 'sex', 'dob', 'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score', 'juv_misd_count', 'juv_other_count', 'priors_count', 'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_days_from_compas', 'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_charge_degree', 'r_days_from_arrest', 'r_offense_date', 'r_charge_desc', 'r_jail_in', 'violent_recid', 'is_violent_recid', 'vr_charge_degree', 'vr_offense_date', 'vr_charge_desc', 'type_of_assessment', 'decile_score.1', 'score_text', 'screening_date', 'v_type_of_assessment', 'v_decile_score', 'v_score_text', 'priors_count.1', 'event']

In [125]:
print(df['priors_count'].equals(df['priors_count.1']))
print(df['decile_score'].equals(df['decile_score.1']))

True
True

In [126]:
df = df.drop(columns=['priors_count.1'])
df = df.drop(columns=['decile_score.1'])
len(df.columns.tolist())

38

In [127]:
df.duplicated(subset=['name', 'dob']).sum()

np.int64(7317)

In [128]:
df = df.drop_duplicates(subset=['name', 'dob'], keep='first')

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10999 entries, 0 to 18314
Data columns (total 38 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       6601 non-null   float64
 1   name                     10999 non-null  object
 2   first                    10999 non-null  object
 3   last                     10999 non-null  object
 4   sex                      10999 non-null  object
 5   dob                      10999 non-null  object
 6   age                      10999 non-null  int64
 7   age_cat                  10999 non-null  object
 8   race                     10999 non-null  object
 9   juv_fel_count            10999 non-null  int64
 10  decile_score             10999 non-null  int64
 11  juv_misd_count           10999 non-null  int64
 12  juv_other_count          10999 non-null  int64
 13  priors_count             10999 non-null  int64
 14  days_b_screening_arrest  9903 non-null   float64
 15  c_jail_in                9903 non-null   object
 16  c_jail_out               9903 non-null   object
 17  c_days_from_compas       10309 non-null  float64
 18  c_charge_degree          10309 non-null  object
 19  c_charge_desc            10302 non-null  object
 20  is_recid                 10999 non-null  int64
 21  r_charge_degree          3473 non-null   object
 22  r_days_from_arrest       2317 non-null   float64
 23  r_offense_date           3473 non-null   object
 24  r_charge_desc            3415 non-null   object
 25  r_jail_in                2317 non-null   object
 26  violent_recid            0 non-null      float64
 27  is_violent_recid         10999 non-null  int64
 28  vr_charge_degree         819 non-null    object
 29  vr_offense_date          819 non-null    object
 30  vr_charge_desc           819 non-null    object
 31  type_of_assessment       10999 non-null  object
 32  score_text               10985 non-null  object
 33  screening_date           10999 non-null  object
 34  v_type_of_assessment     10999 non-null  object
 35  v_decile_score           10999 non-null  int64
 36  v_score_text             10994 non-null  object
 37  event                    10999 non-null  int64
dtypes: float64(5), int64(10), object(23)
memory usage: 3.3+ MB

In [130]:
df.isnull().sum()

id                          4398
name                           0
first                          0
last                           0
sex                            0
dob                            0
age                            0
age_cat                        0
race                           0
juv_fel_count                  0
decile_score                   0
juv_misd_count                 0
juv_other_count                0
priors_count                   0
days_b_screening_arrest     1096
c_jail_in                   1096
c_jail_out                  1096
c_days_from_compas           690
c_charge_degree              690
c_charge_desc                697
is_recid                       0
r_charge_degree             7526
r_days_from_arrest          8682
r_offense_date              7526
r_charge_desc               7584
r_jail_in                   8682
violent_recid              10999
is_violent_recid               0
vr_charge_degree           10180
vr_offense_date            10180
vr_charge_desc             10180
type_of_assessment             0
score_text                    14
screening_date                 0
v_type_of_assessment           0
v_decile_score                 0
v_score_text                   5
event                          0
dtype: int64

In [131]:
print(df['type_of_assessment'].value_counts()) # all same value
df.drop(columns=['type_of_assessment'], inplace=True)

type_of_assessment
Risk of Recidivism    10999
Name: count, dtype: int64

In [132]:
df['v_type_of_assessment'].value_counts() # all same value
df.drop(columns=['v_type_of_assessment'], inplace=True)

In [133]:
df['event'].value_counts()

event
0    10479
1      520
Name: count, dtype: int64

In [134]:
df.describe()

,id,age,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,c_days_from_compas,is_recid,r_days_from_arrest,violent_recid,is_violent_recid,v_decile_score,event
count,6601.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,9903.000000,10309.000000,10999.000000,2317.000000,0.0,10999.000000,10999.000000,10999.000000
mean,5492.483260,35.112647,0.061096,4.369943,0.075461,0.095009,3.080735,-0.654347,64.500825,0.255023,20.260682,NaN,0.074461,3.575234,0.047277
std,3174.277934,12.027804,0.451195,2.871778,0.451037,0.476748,4.676557,73.802301,348.618425,0.558104,74.856687,NaN,0.262532,2.501200,0.212240
min,1.000000,18.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,-597.000000,0.000000,-1.000000,-1.000000,NaN,0.000000,-1.000000,0.000000
25%,2732.000000,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000,0.000000,NaN,0.000000,1.000000,0.000000
50%,5510.000000,32.000000,0.000000,4.000000,0.000000,0.000000,1.000000,-1.000000,1.000000,0.000000,0.000000,NaN,0.000000,3.000000,0.000000
75%,8232.000000,43.000000,0.000000,7.000000,0.000000,0.000000,4.000000,-1.000000,2.000000,1.000000,1.000000,NaN,0.000000,5.000000,0.000000
max,10999.000000,96.000000,20.000000,10.000000,13.000000,17.000000,43.000000,1057.000000,9485.000000,1.000000,993.000000,NaN,1.000000,10.000000,1.000000

In [135]:
df.reset_index(drop=True, inplace=True)
df

,id,name,first,last,sex,dob,age,age_cat,race,juv_fel_count,...,violent_recid,is_violent_recid,vr_charge_degree,vr_offense_date,vr_charge_desc,score_text,screening_date,v_decile_score,v_score_text,event
0,1.0,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,0,NaN,NaN,NaN,Low,14/08/2013,1,Low,0
1,3.0,michael ryan,michael,ryan,Male,06/02/1985,31,25 - 45,Caucasian,0,...,NaN,0,NaN,NaN,NaN,Medium,31/12/2014,2,Low,0
2,4.0,kevon dixon,kevon,dixon,Male,22/01/1982,34,25 - 45,African-American,0,...,NaN,1,(F3),05/07/2013,Felony Battery (Dom Strang),Low,27/01/2013,1,Low,1
3,5.0,ed philo,ed,philo,Male,14/05/1991,24,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,14/04/2013,3,Low,0
4,10.0,marcu brown,marcu,brown,Male,21/01/1993,23,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,High,13/01/2013,6,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,NaN,malcolm simmons,malcolm,simmons,Male,25/03/1993,23,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,01/02/2014,5,Medium,0
10995,NaN,alexsandra beauchamps,alexsandra,beauchamps,Female,21/12/1984,31,25 - 45,African-American,0,...,NaN,0,NaN,NaN,NaN,Medium,29/12/2014,4,Low,0
10996,NaN,winston gregory,winston,gregory,Male,01/10/1958,57,Greater than 45,Other,0,...,NaN,0,NaN,NaN,NaN,Low,14/01/2014,1,Low,0
10997,NaN,farrah jean,farrah,jean,Female,17/11/1982,33,25 - 45,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,09/03/2014,2,Low,0
10998,NaN,florencia sanmartin,florencia,sanmartin,Female,18/12/1992,23,Less than 25,Hispanic,0,...,NaN,0,NaN,NaN,NaN,Low,30/06/2014,4,Low,0

In [136]:
df['id'] = range(1, len(df) + 1)
df

,id,name,first,last,sex,dob,age,age_cat,race,juv_fel_count,...,violent_recid,is_violent_recid,vr_charge_degree,vr_offense_date,vr_charge_desc,score_text,screening_date,v_decile_score,v_score_text,event
0,1,miguel hernandez,miguel,hernandez,Male,18/04/1947,69,Greater than 45,Other,0,...,NaN,0,NaN,NaN,NaN,Low,14/08/2013,1,Low,0
1,2,michael ryan,michael,ryan,Male,06/02/1985,31,25 - 45,Caucasian,0,...,NaN,0,NaN,NaN,NaN,Medium,31/12/2014,2,Low,0
2,3,kevon dixon,kevon,dixon,Male,22/01/1982,34,25 - 45,African-American,0,...,NaN,1,(F3),05/07/2013,Felony Battery (Dom Strang),Low,27/01/2013,1,Low,1
3,4,ed philo,ed,philo,Male,14/05/1991,24,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,14/04/2013,3,Low,0
4,5,marcu brown,marcu,brown,Male,21/01/1993,23,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,High,13/01/2013,6,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,10995,malcolm simmons,malcolm,simmons,Male,25/03/1993,23,Less than 25,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,01/02/2014,5,Medium,0
10995,10996,alexsandra beauchamps,alexsandra,beauchamps,Female,21/12/1984,31,25 - 45,African-American,0,...,NaN,0,NaN,NaN,NaN,Medium,29/12/2014,4,Low,0
10996,10997,winston gregory,winston,gregory,Male,01/10/1958,57,Greater than 45,Other,0,...,NaN,0,NaN,NaN,NaN,Low,14/01/2014,1,Low,0
10997,10998,farrah jean,farrah,jean,Female,17/11/1982,33,25 - 45,African-American,0,...,NaN,0,NaN,NaN,NaN,Low,09/03/2014,2,Low,0
10998,10999,florencia sanmartin,florencia,sanmartin,Female,18/12/1992,23,Less than 25,Hispanic,0,...,NaN,0,NaN,NaN,NaN,Low,30/06/2014,4,Low,0

In [137]:
df.drop(columns=['id', 'name', 'first', 'last', 'dob', 'vr_charge_desc', 'r_charge_desc' ], inplace=True)
df

,sex,age,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,r_jail_in,violent_recid,is_violent_recid,vr_charge_degree,vr_offense_date,score_text,screening_date,v_decile_score,v_score_text,event
0,Male,69,Greater than 45,Other,0,1,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,14/08/2013,1,Low,0
1,Male,31,25 - 45,Caucasian,0,5,0,0,0,NaN,...,NaN,NaN,0,NaN,NaN,Medium,31/12/2014,2,Low,0
2,Male,34,25 - 45,African-American,0,3,0,0,0,-1.0,...,NaN,NaN,1,(F3),05/07/2013,Low,27/01/2013,1,Low,1
3,Male,24,Less than 25,African-American,0,4,0,1,4,-1.0,...,16/06/2013,NaN,0,NaN,NaN,Low,14/04/2013,3,Low,0
4,Male,23,Less than 25,African-American,0,8,1,0,1,NaN,...,NaN,NaN,0,NaN,NaN,High,13/01/2013,6,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,Male,23,Less than 25,African-American,0,3,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,01/02/2014,5,Medium,0
10995,Female,31,25 - 45,African-American,0,6,0,0,5,-1.0,...,NaN,NaN,0,NaN,NaN,Medium,29/12/2014,4,Low,0
10996,Male,57,Greater than 45,Other,0,1,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,14/01/2014,1,Low,0
10997,Female,33,25 - 45,African-American,0,2,0,0,3,-1.0,...,NaN,NaN,0,NaN,NaN,Low,09/03/2014,2,Low,0
10998,Female,23,Less than 25,Hispanic,0,4,0,0,2,-2.0,...,15/03/2015,NaN,0,NaN,NaN,Low,30/06/2014,4,Low,0

In [139]:
df.columns
df.to_csv('cox-violent-parsed_filt_processed.csv', index=False)

In [140]:
df = pd.read_csv("cox-violent-parsed_filt_processed.csv")
df

,sex,age,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,days_b_screening_arrest,...,r_jail_in,violent_recid,is_violent_recid,vr_charge_degree,vr_offense_date,score_text,screening_date,v_decile_score,v_score_text,event
0,Male,69,Greater than 45,Other,0,1,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,14/08/2013,1,Low,0
1,Male,31,25 - 45,Caucasian,0,5,0,0,0,NaN,...,NaN,NaN,0,NaN,NaN,Medium,31/12/2014,2,Low,0
2,Male,34,25 - 45,African-American,0,3,0,0,0,-1.0,...,NaN,NaN,1,(F3),05/07/2013,Low,27/01/2013,1,Low,1
3,Male,24,Less than 25,African-American,0,4,0,1,4,-1.0,...,16/06/2013,NaN,0,NaN,NaN,Low,14/04/2013,3,Low,0
4,Male,23,Less than 25,African-American,0,8,1,0,1,NaN,...,NaN,NaN,0,NaN,NaN,High,13/01/2013,6,Medium,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10994,Male,23,Less than 25,African-American,0,3,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,01/02/2014,5,Medium,0
10995,Female,31,25 - 45,African-American,0,6,0,0,5,-1.0,...,NaN,NaN,0,NaN,NaN,Medium,29/12/2014,4,Low,0
10996,Male,57,Greater than 45,Other,0,1,0,0,0,-1.0,...,NaN,NaN,0,NaN,NaN,Low,14/01/2014,1,Low,0
10997,Female,33,25 - 45,African-American,0,2,0,0,3,-1.0,...,NaN,NaN,0,NaN,NaN,Low,09/03/2014,2,Low,0
10998,Female,23,Less than 25,Hispanic,0,4,0,0,2,-2.0,...,15/03/2015,NaN,0,NaN,NaN,Low,30/06/2014,4,Low,0